node_modules
public/*
!public/.gitkeep
!public/chat_profit_logo.png
!public/chat_profit_favicon.png
!public/chat_profit_bg.png
dist
.env
.env.test

package-lock.json
yarn.lock
yarn-error.log

/src/config/sentry.js

# Ignore test-related files
/coverage.data
/coverage/

.wwebjs_auth/